<div class='wrap'>
  <script>
  window.ShareaholicConfig = {
    apiKey: "{{ apiKey }}",
    verificationKey: "{{ jwtToken }}",
    apiHost: "{{ apiHost }}",
    serviceHost: "{{ serviceHost }}",
    assetHost: "{{ assetHost }}",
    assetFolders: true,
    origin: "drupal",
    language: "{{ language }}"
  };
  </script>
  <div id="root" class="shr-site-settings"></div>
  <script class="shr-app-loader__site-settings" src="https://cdn.shareaholic.net/ui-site-settings/loader.js"></script>
  <script src="https://dsms0mj1bbhn4.cloudfront.net/assets/pub/loader-reachable.js" async></script>
</div>
