{{ settings.include_css_js_assets }}

<script>
  window.first_part_of_url = "{{ settings.base_link }}";
  window.verification_key = "{{ settings.verification_key }}";
  window.shareaholic_api_key = "{{ settings.api_key }}";
  window.SHAREAHOLIC_PLUGIN_VERSION = '{{ settings.get_version }}';
</script>

<script>
  window.ShareaholicConfig = {
    apiKey: "{{ settings.api_key }}",
    assetFolders: true,
    origin: "drupal",
    language: "{{ settings.language ? settings.language : '' }}"
  };
</script>

<!-- Header - start -->
<div id="shr-header-container"></div>
<script class="shr-app-loader shr-app-loader__header" src="{{ settigns.asset_url }}"></script>
<!-- Header - end -->

<script>
  // override default jquery with sQuery (from jquery_custom) on shareaholic admin pages only
  $ = jQuery = sQuery;

  (function($) {
    function formatUniversalHeader() {
      var $header = $('.shr-header-content');
      var $target = $('.region.region-content');

      // move the header to the target and show it
      $target.before($header);
      $header.show();
    }

    $(function() {
      formatUniversalHeader();
    });

  })(jQuery);
</script>